{% extends "base.html" %}

{% block content %}
<br>
<div class="container">    
    <div class="p-4 p-md-5 mb-4  text-black rounded bg-light" align="center">
        <div class="col-md-12 px-0">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo" class="img-fluid" style="max-width: 200px; height: auto;">
            <h2 class="display-3 fw-bold" >Product Admin Panel</h2>
        </div>
        <form method="POST" action="{{ url_for('admin') }}">
            <input class="form-control" type="text" name="search" placeholder="admin search" value="{{ request.args.get('search', '') }}">
            <br>
            <button class="btn btn-primary" type="submit">Search</button>
            <a href="{{ url_for('admin') }}" class="btn btn-outline-danger" type="button">Clear</a>
        </form>
        <p class="lead my-3"> Database contains <b>{{ product_data|length }}</b> Products and <b>{{ user_data|length }}</b> Users.</p>
    </div>
</div>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Public Online Name 
                <th>Product Name</th>
                <th>SKU</th>
                <th>Category</th>
                <th>Sales Price</th>
                <th>Units Made</th>
                <th>Units Sold</th>
                <th>Units Available</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product, image in product_data %}
                <tr>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('view_product', product_id=product.product_id) }}">{{ product.public_online_name }}</a>
                    </td>
                    <td>
                        <p style="font-size: 12px;" class="text-sm-center">{{ product.product_name }}</p>
                    </td>
                    <td>
                        {% if image.encoded_image %}
                            <img src="data:image/png;base64,{{ image.encoded_image }}" alt="Product Image" style="width:100px; height:auto;">
                        {% endif %}
                    </td>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.product_category }}</td>
                    <td>{{ product.suggested_sales_price }}</td>
                    <td>{{ product.units_made }}</td>
                    <td>{{ product.units_sold }}</td>
                    <td>{{ product.units_available_for_sale }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ url_for('edit_product', product_id=product.product_id) }}" type="button" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{{ url_for('remove_product', product_id=product.product_id) }}" type="button" class="btn btn-sm btn-danger">Remove</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}