<!doctype html>
{% extends "base.html" %}

{% block content %}
<br>
<div class="container">    
    <div class="p-4 p-md-5 mb-4  text-black rounded bg-light" align="center">
        <div class="col-md-12 px-0">
            <h2 class="display-3 fw-bold" >Admin Panel</h2>
            <p class="lead my-3"> Database contains <b>{{ product_data|length }}</b> Products and <b>{{ user_data|length }}</b> Users.</p>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>SKU</th>
                <th>Category</th>
                <th>Sales Price</th>
                <th>Units Made</th>
                <th>Units Sold</th>
                <th>Units Available</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product, image in product_data %}
                <tr>
                    <td>
                        <a href="{{ url_for('view_product', product_id=product.product_id) }}">{{ product.product_name }}</a>
                    </td>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.product_category }}</td>
                    <td>{{ product.suggested_sales_price }}</td>
                    <td>{{ product.units_made }}</td>
                    <td>{{ product.units_sold }}</td>
                    <td>{{ product.units_available_for_sale }}</td>
                    <td>
                        {% if image.encoded_image %}
                            <img src="data:image/png;base64,{{ image.encoded_image }}" alt="Product Image" style="width:100px; height:auto;">
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ url_for('edit_product', product_id=product.product_id) }}" type="button" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{{ url_for('remove_product', product_id=product.product_id) }}" type="button" class="btn btn-sm btn-danger">Remove</a>
                        </div>
                        <!-- <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                            <div class="dropdown-menu d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px" data-bs-theme="light">
                              <form class="p-2 mb-2 bg-body-tertiary border-bottom">
                                <input type="search" class="form-control" autocomplete="false" placeholder="Type to filter...">
                              </form>
                              <ul class="list-unstyled mb-0">
                                <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                  <span class="d-inline-block bg-success rounded-circle p-1"></span>
                                  Action
                                </a></li>
                                <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                  <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                                  Another action
                                </a></li>
                                <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                  <span class="d-inline-block bg-danger rounded-circle p-1"></span>
                                  Something else here
                                </a></li>
                                <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                  <span class="d-inline-block bg-info rounded-circle p-1"></span>
                                  Separated link
                                </a></li>
                              </ul>
                            </div>
                        </div> -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}