{% extends "base.html" %}

{% block content %}
<br>
<div class="container">

    <div class="p-4 p-md-5 mb-4 text-black rounded bg-light text-center">
        <div class="col-md-12 px-0">
            <h4 class="display-4 fw-bold">Proudly Produced in California.</h4>
            <p class="lead my-3">Please choose from one of our <b>{{ product_categories|length }}</b> product categories below.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="fst-bold">Product Categories</h4>
                <div class="d-grid gap-2">
                    {% for category in product_categories %}
                        <a href="/products?pcc={{ category.category_code }}" class="btn btn-outline-primary">{{ category.category_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-9">
            {% if category_code %}
            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for p, pi in results %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="{{ p.product_name }}" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>{{ p.product_name }}</title>
                                    <rect width="100%" height="225" fill="#55595c"/>
                                    {% if pi.encoded_image %}
                                        <image href="data:image/png;base64,{{ pi.encoded_image }}" alt="Product Image" width="100%" height="225" />
                                    {% else %}
                                        <text x="50%" y="50%" fill="#eceeef" dy=".3em" text-anchor="middle">No Image</text>
                                    {% endif %}
                                </svg>

                                <div class="card-body">
                                    <small class="text-body-primary">{{ p.product_name }}</small>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a type="button" href="/products/view/{{ p.product_id }}" class="btn btn-sm btn-outline-primary">Details</a>
                                            <button type="button" class="btn btn-sm btn-outline-success">Add to cart</button>
                                        </div>
                                        <small class="text-body-secondary">${{ p.suggested_sales_price }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
                <p>Please select a product category to view the available products.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
